*{
    font-family: 'PT Sans Narrow', Arial, Tahoma, SF, sans-serif;
    text-transform: uppercase;
    margin: 0 auto;
    font-size: 14px;
    box-sizing: border-box;
    font-weight: bold;
    text-decoration: none;
}
body{
    color: #ffffff
    line-height: calc(24/14);
    background: url("img/backgr.png") center no-repeat;
    background-size: cover;
}
header{
    background-color: #000000;
    font-size: 16px;
}
.main-menu{
    width: 70%;
    float: left;
    display: block;
}
.login-user{
    width: 30%;
    float: right;
    text-align: right;
}
.clearrow::after{
    content: "";
    display: table;
    clear: both;
}
.logo{
    text-align: center;
    margin: 60px 0 60px 0;
}
.container{
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}
a, button{
    color: #ffffff;
}
.quality{
    margin: 0 0 0 20px;
}
.quality-item{
    width: 33.333333%;
    float: left;
    text-align: center;
    padding: 0 6px 0 6px;
}
.quality-item>p{
    margin: 17px 0 17px 0;
    padding: 10px;
}
.quality-icon{
    width: 20px;
    height: 20px;
    display: block;
    background-color: #ffffff;
    transform: rotate(45deg);
}
h2{
    font-size: 30px;
}
