*{
    font-family: 'PT Sans Narrow', Arial, Tahoma, SF, sans-serif;
    text-transform: uppercase;
    margin: 0 auto;
    font-size: 14px;
    box-sizing: border-box;
    font-weight: bold;
    text-decoration: none;
}
body{
    line-height: calc(24/14);
    background-size: cover;
    background: url("img/backgr.png") center no-repeat;
}
header{
    background-color: #000000;
    font-size: 16px;
}
.navmenu{
    float: left;
    display: block;
}
.login-user{
    float: right;
}
.clearrow::after{
    content: ="";
    display: table;
    clear: both;
}
.container{
    
}
a, button{
    color: #000000;
}
ul.nav{
    list-style: none;
}
h2{
    font-size: 30px;
}
